body {
    background-color: blueviolet;
}

.container {
    width: 500px;
    background-color: red;
    margin: auto;
    border-radius: 20px;
}

.header {
    text-align: center;
}

.text {
    padding-left: 20px;
}